

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .column {
    float: left;
    width: 20;
    padding: 0 10px;
  }
  .row {margin: 0 -5px;}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  @media screen and (max-width: 60px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }